@font-face {
  font-family: 'monaco';
  // src: url('../font/monaco.eot');
  src:
    url('../font/monaco.eot?#font-spider') format('embedded-opentype'),
    url('../font/monaco.woff') format('woff'),
    url('../font/monaco.ttf') format('truetype'),
    url('../font/monaco.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
