<!-- Footer -->
<footer class="pisces-footer clearfix ">
    <section class="copyright"><a href="<%- config.url %>"><%- config.title %></a> © 2015 </section>
    <section>Designed by <a href="http://deacyn.com"><span>@<span> Albert </a>with<a href="https://hexo.io"> Hexo </a>
    </section>
    <section class="poweredby ">本博客采用拽酷炫的<a href="https://hexo.io"> Pisces </a></section>
</footer>
